<div class="main">
  <h1 [@zoomIn]>Contact Us</h1>
  <p [@zoomIn]>If you have any questions, feel free to reach out:</p>
  <ul>
    <li [@zoomIn] class="contact-item">
      <mat-icon class="icon" aria-hidden="true">phone</mat-icon>
      <a href="tel:+201127646344">+201127646344</a>
    </li>
    <li [@zoomIn] class="contact-item">
      <mat-icon class="icon" aria-hidden="true">email</mat-icon>
      <a href="mailto:eng.tarek.yahiia@gmail.com">eng.tarek.yahiia</a>
    </li>
    <li [@zoomIn] class="contact-item">
      <mat-icon class="icon" aria-hidden="true">chat</mat-icon>
      <a href="https://wa.me/0201127646344" target="_blank">WhatsApp: +201127646344</a>
    </li>
  </ul>
</div>



