<!-- Header Section -->
<header>
  <nav>
    <ul>
      <li>
        <a href="/">
          <mat-icon aria-hidden="false" aria-label="Home Icon">home</mat-icon>
          Home
        </a>
      </li>
      <li>
        <a href="/about">
          <mat-icon aria-hidden="false" aria-label="About Icon">info</mat-icon>
          About
        </a>
      </li>
      <li>
        <a href="/contact">
          <mat-icon aria-hidden="false" aria-label="Contact Icon">contacts</mat-icon>
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>


<mat-toolbar color="primary">
  <span>User Management App</span>
</mat-toolbar>

<router-outlet></router-outlet>

<app-add-user />

<!-- Main Content Section -->
<main class="main">
  <div class="content">
    <div class="left-side">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 982 239" fill="none" class="angular-logo">
        <g clip-path="url(#a)">
          <path fill="url(#b)" d="M388.676 191.625h30.849L363.31 31.828h-35.758l-56.215 159.797h30.848l13.174-39.356h60.061l13.256 39.356Zm-65.461-62.675 21.602-64.311h1.227l21.602 64.311h-44.431Zm126.831-7.527v70.202h-28.23V71.839h27.002v20.374h1.392c2.782-6.71 7.2-12.028 13.255-15.956  ..." />
        </g>
      </svg>
    </div>
    <div class="right-side">
      <h1>Welcome to Our User Management Angular App</h1>
    </div>
  </div>
</main>
