<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterUsers()"
    placeholder="Search by name or email"
    class="form-control"
  />
</div>

<h2>USERS FROM JSON API</h2>
<table mat-table [dataSource]="jsonApiDataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let user">
      <button class="btn btn-primary" (click)="viewUserDetails(user.id)">
        View Details
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'name', 'email', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'email', 'actions']"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>

  <div class="add-user-button-container">
    <button class="btn btn-success" (click)="navigateToAddUser()">Add User</button>
  </div>
  
  <h2>USERS FROM BACKEND API</h2>
  <table mat-table [dataSource]="backendDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <div class="button-container">
          <button class="btn btn-primary" (click)="viewUserDetails(user.id)">
            View Details
          </button>
          <button mat-icon-button (click)="openDeleteDialog(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="openEditDialog(user)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'email', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'email', 'actions']"></tr>
  </table>
  
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
  
    <div class="add-user-button-container">
      <button class="btn btn-success" (click)="navigateToAddUser()">Add User</button>
    </div>

  <h2>USERS FROM LOCAL STORAGE</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of filteredLocalStorageUsers">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.salary }}</td>
      <td>{{ user.address }}</td>
    </tr>
</table>


